# App
PORT=5000
NODE_ENV=development

# Database
DB_URL=your_mongodb_url

# Login Security
LOGIN_FAILURE_COUNT=3
LOCK_UNTIL_TIME=15

# Auth
ACCESS_TOKEN=your_access_token_secret
REFRESH_TOKEN=your_refresh_token_secret

#Redis
REDIS_URL=your_Redis_URL

#Rate Limiter
LOGIN_BUCKET_CAPACITY=5
LOGIN_BUCKET_REFILLRATE=0.05

GLOBAL_BUCKET_CAPACITY=5
GLOBAL_BUCKET_REFILLRATE=0.1

#Slug
MAX_SLUG_LENGTH=80

#CORS
CORS_ORGINS=http://localhost:3000

#Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=Your Email here
SMTP_PASS=Your password here
EMAIL_FROM="User Name or user email"
FRONTEND_URL=http://localhost:3000

#Log
LOG_LEVEL="info"